;;; -*- clojure -*-
(ns {{top/ns}}.{{main/ns}}-test
    (:require [lazytest.core :refer [defdescribe describe it expect throws? throws-with-msg?]]
              ;[com.gfredericks.test.chuck :as chuck]
              [{{top/ns}}.{{main/ns}} :as sut]))

(defn delete-me [] (sut/-main))

(defdescribe a-test "Testing a"
  (describe "failing tests"
            (it "should throw"
                (expect (throws? ArithmeticException (/ 1 0))))
            (it "should also throw"
                (expect (throws-with-msg? Exception #"foo" (throw Exception "foo bar"))))
            (it "should fail. FIXME."
                (expect (= 0 1)))))
