;;; -*- clojure -*-
(ns {{top/ns}}.{{main/ns}}.config
  "Define the system config based on the profile."
  (:require [clojure.java.io :as io]
            [clojure.spec.alpha :as s]
            [aero.core :as aero]
            [{{top/ns}}.{{main/ns}}.specs :as specs]
            )
  )

(def system-config-file-name "{{top/file}}/{{main/file}}/config.edn")

(defn lib-config
  "Return a library configuration, given a `profile`."
  [profile]
  (let [config-file system-config-file-name]
    (aero/read-config (io/resource config-file) {:profile profile})))

(defn config-valid?
  "Returns `true` if the `config` is syntactically valid.
  `false` otherwise."
  [config]
  (s/valid? ::specs/config config))

(defn explain-config
  "Returns the spec error for `config`, as a string."
  [config]
  (with-out-str (s/explain ::specs/config config)))

;;; config accessor functions

(defn fixme
  "FIXME: An example accessor."
  [config]
  ;; TODO: Should this be prefixed by the library name?
  ;; If so, might also need to support changing the config file location.
  (get-in config [:fixme]))
