;;; -*- clojure -*-
(ns {{top/ns}}.{{main/ns}}.api
    "The API for {{description}}"
    (:require [clojure.tools.logging :as log]
              ;; [clojure.tools.logging.readable :as logr]
              ))

(defn app
  "The main function for the app."
  [{:keys [dry-run app-arguments] :as args}]
  (log/info "Calling the app")
  (log/info "Args:" (pr-str args))
  (log/debug "dry-run:" dry-run)
  ;; Add your code here
  )
