(ns {{top/ns}}.{{main/ns}}
    "{{description}}"
    (:require [clojure.tools.logging :as log]
            ;; [clojure.tools.logging.readable :as logr]
            [clojure.string :as str]
            #_[clojure.tools.cli :refer [parse-opts]]
            #_[juxt.clip.core :as clip]
            #_[com.syntereen.recj.config :as config])
    (:import (org.apache.logging.log4j LogManager))
    (:gen-class))

(def system nil)

#_(def cli-options
  [
   [nil "--as-of YYYY-MM-DD" "Run the app \"as of\" the date (in YYYY-MM-DD format) specified."
    :validate [#(re-matches #"\d\d\d\d-\d\d-\d\d" %) "Must be in YYYY-MM-DD format."]]
   [nil "--dry-run" (str "Run the program but do not make any changes to the output sheet. "
                         "Default: false (meaning, make the chages) if not specified.")
    :default false]
   [nil "--[no-]clear" (str "Clear the output sheet before update. "
                            "Default: true (meaning, clear the output) if not specified. "
                            "If either --num-rows is specified or --start-row is greater than 0, "
                            "then the default is false.")
    :default-fn (fn [opts] (not (or (:num-rows opts) (pos? (:start-row opts)))))]
   [nil "--num-rows NUM_ROWS" "Process at most NUM_ROWS rows. Process all rows if not specified."
    :parse-fn #(Integer/parseInt %)
    :validate [nat-int? "Must be a natural number."]]
   [nil "--start-row ROW_NUM" "Start the processing at row number ROW_NUM (zero-based). Default: 0."
    :parse-fn #(Integer/parseInt %)
    :validate [nat-int? "Must be a natural number."]
    :default 0]
   [nil "--version" "Print the version and exit."]
   [nil "--help" "Print this help information, and then exit."]
   ])

(defn usage
  [options-summary]
  (let [msg (str/join \newline
                      ["{{main}}: {{description}}"
                       ""
                       "Usage: {{main}} [options]"
                       ""
                       "Options:"
                       options-summary])]
    msg))

(defn error-msg [errors]
  (str "The following errors occurred while parsing the command:\n\n"
       (str/join \newline errors)))

#_(defn validate-args
  "Validate command line arguments. Either return a map indicating the program
  should exit (with a error message, and optional ok status), or a map
  indicating the arguments and the options provided."
  [args cli-options]
  (let [{:keys [options arguments errors summary]} (parse-opts args cli-options)]
    (cond
      (:help options) {:exit-message (usage summary) :ok? true}
      (seq errors) {:exit-message (error-msg errors)}
      (not (config/options-valid? options)) {:exit-message (config/explain-options options)}
      (= 0 (count arguments)) {:arguments arguments :options options}
      :else {:exit-message (usage summary)})))



(defn exit
  "Exit the process.
  With the specified `status` and after logging the `msg`."
  [status msg]
  (if (zero? status)
    (log/info msg)
    (log/error msg))
  (LogManager/shutdown)
  (System/exit status))

;;; TODO: Consider using println instead of (or, in addition to) the log for --version and --help.  Needs hammock time!
;;; TODO: Consider breaking this up into a purely functional part that can be tested (and does not call System/exit),
;;; and another part that does the System/exit if needed.  Also LogManager/shutdown.
(defn -main
  [& args]
  (try
    (log/info "")
    (log/info ">>>>>>>>>>>>>>>>> Starting Log >>>>>>>>>>>>>>>>>")
    (let [{:keys [options arguments exit-message ok?]} {} #_(validate-args args cli-options)]
      (log/debug "Options:" options)
      (log/debug "Raw arguments:" args)
      (log/debug "Arguments:" arguments)
      (cond exit-message
            (exit (if ok? 0 1) exit-message)
            ;;
            :else
            (let [system-config {}#_(config/system-config :prod options)
                  _ (log/debug "System config:" system-config)]
              (log/info "Initializing {{main}}.")
              (cond #_(not (config/config-valid? system-config)) #_(exit 1 (config/explain-config system-config))
                    (:version options) (exit 0 (str "Version: " #_(config/app-version-string system-config)))
                    :else
                    (let [system {} #_(clip/start system-config)
                          _ (log/info "Started {{main}}.")]
                      (alter-var-root #'system (constantly system))
                      (.addShutdownHook (Runtime/getRuntime)
                                        (Thread. (fn []
                                                   #_(clip/stop system-config system)
                                                   (log/info "Stopped {{main}}.")
                                                   (log/info ">>>>>>>>>>>>>>>>> Ending Log >>>>>>>>>>>>>>>>>")
                                                   ;; since the log4j2 shutdown hook should be disabled,
                                                   ;; explicity shut down the logger.
                                                   (LogManager/shutdown)
                                                   ))))))))
    (catch Exception e (log/error e))))
