{:app-config #merge [{:name "{{main}}"
                      :dry-run #or [#cli [:dry-run] false]
                      }
                     #include "version.edn"]
 :components {:app
              {:start ({{top/ns}}.{{main/ns}}.api/app
                       {:dry-run #ref [:app-config :dry-run]
                        }
                       )
               }
              }
 }
