{:description "A com.syntereen.templates template for an app."
 ;; this does not transform the data but does print a message:
 :data-fn com.syntereen.templates.app/data-fn
 ;; this does not transform the EDN but does print a message:
 :template-fn com.syntereen.templates.app/template-fn
 :transform
 [["build" ""
   {"bb.tmpl" "bb.edn"
    "build.tmpl" "build.clj"
    "deps.tmpl"  "deps.edn"}]
  ["dev" "dev"]
  ["src" "src/{{top/file}}"
   {"main.tmpl" "{{main/file}}.clj"}]
  ["test" "test/{{top/file}}"
   {"main_test.tmpl" "{{main/file}}_test.clj"}]]}
